
<!-- Table 't_calendars' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- TITLE (varchar) -->
<div class="form-group[#if ERR_TITLE#] has-error[#endif#]">
 <label for="title" class="control-label">
 <#LANG_TITLE#>:
 (*)
 </label>
 <input id="title" name="title" value="[#TITLE#]" type="text" class="form-control">
</div>
<!-- CALENDAR (varchar) -->
<div class="form-group[#if ERR_CALENDAR#] has-error[#endif#]">
 <label for="calendar" class="control-label">
 События:
  <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about"><span class="glyphicon glyphicon-info-sign icon-white"></span></button>
 </label>

 <!-- About -->
 <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><#LANG_CLOSE#></span></button>
     <h4 class="modal-title">Формат описания событий</h4>
    </div>
    <div class="modal-body">

<pre># Комментарий (строчка игнорируется)
# дата; название
04/05; Каждое 4-е мая
04/05/23; Точная дата 04/05/23
04/05/2023; Точная дата 04/05/2023
04; 4-е число каждого месяца
4; 4-е число каждого месяца
4-12/05; с 4 по 12 мая месяца
4-12/05/2023; с 4 по 12 мая 2023-го года
4-12; с 4 по 12 каждого месяца
Чт1/05; Первый четверг мая месяца
Чт1; Первый четверг каждого месяца
Чт5; Последний четверг каждого месяца
Чт; Каждый четверг
https://.....; Внешний календарь (Google и т.п.)
</pre>

    </div>
   </div>
  </div>
 </div>


  <textarea id='calendar' name="calendar" class="form-control" rows="15">[#CALENDAR#]</textarea>
</div>
<div class="form-group">

 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">

</div>
</fieldset>
</form>
